import /trustkernel.rc

on init
    export LD_LIBRARY_PATH /system/lib:/vendor/lib:/vendor/lib/hw:/system/lib/hw

    # Fix OF installer
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

    # Support A/B feature for boot region
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

on fs
    install_keyring

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /system/bin/hw/android.hardware.keymaster@3.0-service
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:vendor.sys.listener.registered=true
    start keymaster-3-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop keymaster-3-0
    stop gatekeeper-1-0
    
on property:ro.crypto.state=unencrypted
    stop keymaster-3-0
    stop gatekeeper-1-0
    
on property:twrp.decrypt.done=true
    stop keymaster-3-0
    stop gatekeeper-1-0
